#menu {
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	color: #666;
	margin-left: 10px;
}

#nav {
	padding: 7px 0 0;
	background: #7d7d7d url(gradient.png) repeat-x 0 -110px;
	line-height: 100%;

	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	position: relative;
	list-style: none;
}

/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding: 2px 8px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #666 url(gradient.png) repeat-x 0 -40px;
	color: #444;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}
